language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
install: 
  - pip install -r requirements.txt
script:
  - py.test tests/ --pep8 analyses -v --cov analyses --cov-report term-missing
after_success:
  - coveralls

